<!-- breadcrumb -->
{% if page.url != "/" %}
  {% assign arr_pages = page.url | split: "/" %}
  {% assign last_page = page.url | split: "/" | last %}
  <p>
  {% for item in arr_pages %}
    {% if item == '' %}
      <a href="{{ site.baseurl }}">home</a>
      {% assign full_url = site.baseurl %}
    {% else %}
      {% comment %}
      {% assign full_url = full_url | append: "/" %}
      {% assign full_url = full_url | append: item %}
      {% endcomment %}
      {% capture full_url %}{{ full_url }}/{{ item }}{% endcapture %}
      {% assign dir = item | remove: ".html" %}
      {% if dir == last_page %}
        / <b>{{ dir }}</b>
      {% else %}
        / <a href="{{ full_url }}">{{ dir }}</a>
      {% endif %}
    {% endif %}
  {% endfor %}
  </p>
{% endif %}