<!-- breadcrumb -->
{% if page.url != "/" %}
  {% assign arr_pages = page.url | split: "/" %}
  {% assign last_page = page.url | split: "/" | last %}
  {comment}{% assign full_url = "" %}{endcomment}
  <p>
  {% for item in arr_pages %}
    {% if item == '' %}
      <a href="{{ site.baseurl }}">note</a>
      {comment}{% assign full_url = full_url | append: site.baseurl %}{endcomment}
      {% assign full_url = "" %}
    {% else %}
      {% assign full_url = full_url | append: "/" %}
      {% assign full_url = full_url | append: item %}
      {% assign dir = item | remove: ".html" %}
      {% if dir == last_page %}
        / <b>{{ dir }}</b>
      {% else %}
        / <a href="{{ full_url }}">{{ dir }}</a>
      {% endif %}
    {% endif %}
  {% endfor %}
  </p>
{% endif %}