<!DOCTYPE html>
<html lang="en-US">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>{{ page.title }}</title>
	<link href="{{ site.baseurl }}/github.css" rel="stylesheet">
</head>
<body>
	<div class="container-lg px-3 my-5 markdown-body">

{% if page.url != "/" %}
  {% assign arr_pages = page.url | split: "/" %}
  {% assign full_url = "" %}
  <p>
  {% for item in arr_pages %}
    {% if item == '' %}
      <a href="{{ site.baseurl }}"><img src="{{ site.baseurl }}/img/tech.svg" alt="home" /></a>
      {% assign full_url = full_url | append: site.baseurl %}
    {% else %}
      {% assign full_url = full_url | append: "/" %}
      {% assign full_url = full_url | append: item %}
      {% assign dir = item | remove: ".html" %}
      / <a href="{{ full_url }}">{{ dir }}</a>
    {% endif %}
  {% endfor %}
  </p>
{% endif %}

{{ content }}

{% include edit.html %}
	</div>
</body>
</html>
